<!--User Movie List-->
@model IEnumerable<MyMovies.Models.Movie>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th></th>
    </tr>

    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Genre</td>
            <td>
                <a href="@Url.Action("Index", "Movie", new { id = movie.MovieId })" class="btn btn-info">View Details</a>
            </td>
        </tr>
    }
</table>